services:
  debian-desktop:
    image: dkge/debian-xfce-vnc:latest
    container_name: debian-xfce
    ports:
      - "6080:6080"
    environment:
      - VNC_PASSWORD=cambia_esta_password
      - VNC_RESOLUTION=1920x1080
      - VNC_DEPTH=24
    volumes:
      - ./data:/opt/data
    restart: unless-stopped